name: 'release'
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    name: check version, add tag and release
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 16.14.0
          cache: yarn
      - name: install dependencies
        run: yarn
      - name: release check
        # Skip until the following is corrected.
        # https://github.com/facebookexperimental/Recoil/issues/1902
        # yarn lint
        run: |
          yarn test
          yarn run lint:lib:eslint
      - name: build
        run: yarn build
      - name: setup npm auth
        run: |
          echo "registry=https://registry.npmjs.org" >> ~/.npmrc
          echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" >> ~/.npmrc
          npm whoami
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: npm registry release
        run: yarn publish --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: github release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            LICENSE
            package.json
            yarn.lock
            dist/**/*
            src/
            tsconfig.json
